# This CODEOWNERS configuration is temporary and deliberately strict until we migrate the repo to open-edge-platform.
# After that moment, we will revisit the CODEOWNERS list.

# Default for anything not covered by one of the more specific rules below
* @Radwan-Ibrahim @mpryahin @jcchr @leoll2 @piotrgrubicki

# Platform components
platform/ @jcchr @piotrgrubicki @mgumowsk @leoll2

# IAI components
interactive_ai/ @open-edge-platform/geti-core-backend-write @jcchr @piotrgrubicki @mgumowsk
docs/rest_api/ @open-edge-platform/geti-core-backend-write @jcchr @piotrgrubicki @mgumowsk
/libs/ @open-edge-platform/geti-core-backend-write @jcchr @piotrgrubicki @mgumowsk

# UI components
web_ui/ @jpggvilaca @MarkRedeman @camiloHimura @pplaskie @ActiveChooN @romanowska @dwesolow @jcchr @piotrgrubicki @mgumowsk

# CI and security
.github/workflows/ @open-edge-platform/geti-ci-maintain
.github/actions/ @open-edge-platform/geti-ci-maintain
.github/bandit_config.yml @open-edge-platform/geti-ci-maintain
.github/renovate.json5 @open-edge-platform/geti-ci-maintain
.github/trivy_config.yml @open-edge-platform/geti-ci-maintain
.github/trivyignore.yml @open-edge-platform/geti-ci-maintain
security.md @open-edge-platform/geti-ci-maintain