# This CODEOWNERS configuration is temporary and deliberately strict until we migrate the repo to open-edge-platform.
# After that moment, we will revisit the CODEOWNERS list.

* @jcchr @piotrgrubicki @mgumowsk

# CI and security
.github/workflows/ @open-edge-platform/geti-ci-maintain
.github/actions/ @open-edge-platform/geti-ci-maintain
.github/bandit_config.yml @open-edge-platform/geti-ci-maintain
.github/renovate.json5 @open-edge-platform/geti-ci-maintain
.github/trivy_config.yml @open-edge-platform/geti-ci-maintain
.github/trivyignore.yml @open-edge-platform/geti-ci-maintain
security.md @open-edge-platform/geti-ci-maintain
