# This CODEOWNERS configuration is temporary and deliberately strict until we migrate the repo to open-edge-platform.
# After that moment, we will revisit the CODEOWNERS list.

# Default for anything not covered by one of the more specific rules below
* @Radwan-Ibrahim @mpryahin @jcchr @leoll2 @piotrgrubicki

# Platform components
platform/ @jcchr @piotrgrubicki @mgumowsk

# IAI components
interactive_ai/ @open-edge-platform/geti-core-backend-write
docs/rest_api/ @open-edge-platform/geti-core-backend-write
/libs/ @open-edge-platform/geti-core-backend-write

# UI components
web_ui/ @jpggvilaca @MarkRedeman @camiloHimura @pplaskie @ActiveChooN @romanowska @dwesolow
