.menuTrigger {
    pointer-events: all;
}

.menuList {
    & svg[class*='spectrum-Menu-checkmark'] {
        padding-left: var(--spectrum-global-dimension-size-65);
    }
}

.grayedOutItem {
    color: var(--spectrum-global-color-gray-500);
}
