.webCam {
    width: 100%;
    position: relative;
    max-height: calc(100% - var(--spectrum-global-dimension-size-1600));
}

.uploadLabels {
    border: var(--spectrum-alias-border-size-thin) solid var(--spectrum-global-color-gray-600) !important;

    span {
        text-align: left;
    }
}

.recordingCounter {
    right: 0px;
    padding: var(--spectrum-global-dimension-size-25) var(--spectrum-global-dimension-size-75);
    position: absolute;
    background: var(--brand-coral-coral-shade1);
}
