<!DOCTYPE html>
<html lang="en" class="spectrum spectrum--medium">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geti™</title>
    <link rel="stylesheet" href="/dex/static/page-index-vars.css"/>
    <link rel="stylesheet" href="/dex/static/field-index-vars.css"/>
    <link rel="stylesheet" href="/dex/static/button-index-vars.css"/>
    <link rel="stylesheet" href="/dex/static/main.css"/>
    <link rel="icon" href="/dex/static/img/geti-favicon-32.png"/>
    <link rel="apple-touch-icon" href="/dex/static/img/geti-favicon-ios-192.png"/>
    <script src="/dex/static/index.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="box loginBox">
            <div class="boxHeader">
                <div class="boxHeader-logo" id="logo-id"></div>
            </div>
            <div class="boxHeaderSquare-medium"></div>
            <div class="boxHeaderSquare-small"></div>
			{{ if .Invalid }}
				<div class="loginBox__error">
					<svg xmlns="http://www.w3.org/2000/svg" height="13" viewBox="0 0 18 18" width="14">
					<rect id="Canvas" fill="#ff13dc" opacity="0" width="14" height="13" /><path class="loginBox__alert" d="M8.5635,1.2895.2,16.256A.5.5,0,0,0,.636,17H17.364a.5.5,0,0,0,.436-.744L9.4365,1.2895a.5.5,0,0,0-.873,0ZM10,14.75a.25.25,0,0,1-.25.25H8.25A.25.25,0,0,1,8,14.75v-1.5A.25.25,0,0,1,8.25,13h1.5a.25.25,0,0,1,.25.25Zm0-3a.25.25,0,0,1-.25.25H8.25A.25.25,0,0,1,8,11.75v-6a.25.25,0,0,1,.25-.25h1.5a.25.25,0,0,1,.25.25Z" />
					</svg>
					<div id="login-error-part">
                        <div id="login-error-part-1">
                            Email address or password don't match any of the
                        </div>
                        <div id="login-error-part-2">
                            registered accounts. Double-check and try again.
                        </div>
					</div>
				</div>
			{{ end }}
            <div class="loginBox__content">
                <h1 class="loginBox__signIn" id="login-sign-in">Sign in</h1>
                <form method="post" action="{{ .PostURL }}" class="loginBox__form spectrum-Form spectrum-Form--labelsAbove">
                    <div class="spectrum-Form-item">
                        <label class="spectrum-FieldLabel spectrum-FieldLabel--sizeM spectrum-Form-itemLabel loginBox__label" for="login">Email address</label>
                        <div class="spectrum-Form-itemField">
                          <div class="spectrum-Textfield">
                            <input tabindex="1" class="spectrum-Textfield-input loginBox__form-field" required id="login" name="login" aria-invalid="false" type="text" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }} autocomplete="username" maxlength="100">
                          </div>
                        </div>
                      </div>
                      <div class="spectrum-Form-item">
                        <label class="spectrum-FieldLabel spectrum-FieldLabel--sizeM spectrum-Form-itemLabel loginBox__label" for="password">Password</label>
                        <div class="spectrum-Form-itemField">
                          <div class="spectrum-Textfield">
                            <input tabindex="2" class="spectrum-Textfield-input loginBox__form-field" required id="password" name="password" type="password" {{ if .Invalid }} autofocus {{ end }} autocomplete="off" maxlength="200">
                          </div>
                        </div>
                      </div>
                      <!-- {/* Disabled temporarily: https://jira.devtools.intel.com/browse/ITEP-70558 */} -->
                      <!-- {{ if eq ("isSMTPDefined" | extra) "true" }}
                        <div class="loginBox__forgotPassword">
                            <a href="/registration/forgot-password" id="forgot-password-id" class="loginBox__link">Forgot password?</a>
                        </div>
                      {{ end }} -->
                      <button tabindex="3" id="submit-login" class="spectrum-Button spectrum-Button--cta spectrum-Button--sizeL loginBox__btn" type="submit">
                        <span class="spectrum-Button-label" id="login-sign-in-btn">Sign In</span>
                      </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
