.fullscreenDialog {
    --spectrum-dialog-padding: var(--spectrum-global-dimension-static-size-300);
}

.fullscreenHeading {
    font-size: var(--spectrum-global-dimension-font-size-200);
}

.fullscreenContent {
    overflow: hidden;
}
