k3s_version: "v1.33.1+k3s1"
nvidia_drivers_version: "535.*.*"
intel_drivers_version: "1.3"
intel_device_plugin_version: $INTEL_DEVICE_PLUGIN_VERSION
is_upgrade_required: false

{% if 'nvidia' in gpu_label %}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: nvidia-device-plugin
spec:
  repo: https://nvidia.github.io/k8s-device-plugin
  chart: nvidia-device-plugin
  version: v0.17.2
  targetNamespace: kube-system
  createNamespace: false
  timeout: 30m
  valuesContent: |-
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: "nvidia.com/gpu"
              operator: In
              values:
              - "true"
    image:
      repository: nvcr.io/nvidia/k8s-device-plugin
      tag: "v0.17.2-ubi9"
    runtimeClassName: nvidia
    failOnInitError: "false"
    deviceListStrategy: volume-mounts
    securityContext:
      allowPrivilegeEscalation: true
      privileged: true
    resources:
      requests:
        cpu: 50m
        memory: 50Mi
      limits:
        memory: 50Mi
{% endif %}

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: geti-namespaces
spec:
  version: $VERSION
  insecureSkipTLSVerify: true
  chart: "oci://{{ geti_registry }}/geti/helm/geti-namespaces"
  backOffLimit: 0
  failurePolicy: abort
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: reloader
spec:
  insecureSkipTLSVerify: true
  chart: "oci://{{ geti_registry }}/geti/helm/reloader"
  version: $VERSION
  targetNamespace: kube-system
  backOffLimit: 0
  failurePolicy: abort
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: geti-pv-creation
spec:
  insecureSkipTLSVerify: true
  chart: "oci://{{ geti_registry }}/geti/helm/geti-pv-creation"
  version: $VERSION
  targetNamespace: impt
  backOffLimit: 0
  failurePolicy: abort
  valuesContent: |-
    dataStoragePath: "{{ data_folder }}"
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cert-manager
spec:
  insecureSkipTLSVerify: true
  chart: "oci://{{ geti_registry }}/geti/helm/cert-manager"
  version: $VERSION
  targetNamespace: cert-manager
  backOffLimit: 0
  failurePolicy: abort
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cert-manager-addon
spec:
  insecureSkipTLSVerify: true
  chart: "oci://{{ geti_registry }}/geti/helm/cert-manager-addon"
  version: $VERSION
  targetNamespace: cert-manager
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cert-manager-istio-csr
spec:
  insecureSkipTLSVerify: true
  chart: "oci://{{ geti_registry }}/geti/helm/cert-manager-istio-csr"
  version: $VERSION
  targetNamespace: cert-manager
  backOffLimit: 0
  failurePolicy: abort
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: istio-base
spec:
  insecureSkipTLSVerify: true
  chart: "oci://{{ geti_registry }}/geti/helm/istio-base"
  version: $VERSION
  targetNamespace: istio-system
  backOffLimit: 0
  failurePolicy: abort
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: istio-istiod
spec:
  insecureSkipTLSVerify: true
  chart: "oci://{{ geti_registry }}/geti/helm/istio-istiod"
  version: $VERSION
  targetNamespace: istio-system
  backOffLimit: 0
  failurePolicy: abort
  valuesSecrets:
    - name: external-registry
      ignoreUpdates: true
      keys:
        - overrideRegistry
  valuesContent: |-
    global:
      proxy:
        excludeIPRanges: "10.43.0.1/32"
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: istio-gateway
spec:
  insecureSkipTLSVerify: true
  chart: "oci://{{ geti_registry }}/geti/helm/istio-gateway"
  version: $VERSION
  targetNamespace: istio-system
  backOffLimit: 0
  failurePolicy: abort
  valuesSecrets:
    - name: external-registry
      ignoreUpdates: true
      keys:
        - overrideRegistry
  valuesContent: |-
    tls:
      key_file: "{{ tls_key_file }}"
      cert_file: "{{ tls_cert_file }}"
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: geti-tools
spec:
  insecureSkipTLSVerify: true
  chart: "oci://{{ geti_registry }}/geti/helm/geti-tools"
  version: $VERSION
  targetNamespace: impt
  timeout: 20m
  backOffLimit: 0
  failurePolicy: abort
  valuesSecrets:
    - name: external-registry
      ignoreUpdates: true
      keys:
        - overrideRegistry
  valuesContent: |-
    global:
      registry_address: "{{ geti_registry }}"
    enabled:
      dcgm-exporter: {{ 'nvidia' in gpu_label | default(true) }}
      xpu-manager: {{ 'i915' in gpu_label | default(false) }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: geti-components
spec:
  insecureSkipTLSVerify: true
  chart: "oci://{{ geti_registry }}/geti/helm/geti-components"
  version: $VERSION
  targetNamespace: impt
  timeout: 60m
  backOffLimit: 0
  failurePolicy: abort
  valuesSecrets:
    - name: external-registry
      ignoreUpdates: true
      keys:
        - overrideRegistry
  valuesContent: |-
    configuration:
      dataStoragePath: "{{ data_folder }}"
      render_gid: {{ render_gid }}
      accelerator:
        type: {{ 'gpu' if gpu_label else 'cpu' }}
        name: {{ gpu_label | default('') }}
    global:
      registry_address: "{{ geti_registry }}"
      tag: "$TAG" # TODO temporary solution to get new images, remove when CI will be ready
      login: "{{ username }}"
      passwordHash: "{{ password_hash }}"
      dataFolder: "{{ data_folder }}"
      tlsCert: "{{ tls_cert_file }}"
      tlsKey: "{{ tls_key_file }}"
      imageRegistry: "{{ image_registry }}"
      proxy:
        enabled: "{{ proxy_enabled }}"
        https_proxy: "{{ https_proxy }}"
        http_proxy: "{{ http_proxy }}"
        no_proxy: "{{ no_proxy }}"
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: modelmesh-serving-addon
spec:
  insecureSkipTLSVerify: true
  chart: "oci://{{ geti_registry }}/geti/helm/modelmesh-serving-addon"
  version: $VERSION
  targetNamespace: impt
  valuesSecrets:
    - name: external-registry
      ignoreUpdates: true
      keys:
        - overrideRegistry
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: flyte-core
spec:
  insecureSkipTLSVerify: true
  chart: "oci://{{ geti_registry }}/geti/helm/flyte-core"
  version: $VERSION
  targetNamespace: flyte
  timeout: 20m
  backOffLimit: 0
  failurePolicy: abort
  valuesSecrets:
    - name: external-registry
      ignoreUpdates: true
      keys:
        - overrideRegistry
  valuesContent: |-
    global:
      registry_address: "{{ geti_registry }}"
      tag: "$TAG" # TODO temporary solution to get new images, remove when CI will be ready
