@use '../../shared.module';

.container {
    @extend .blueGreenGradient;
    padding: var(--spectrum-global-dimension-size-200);

    & [class*='tip-triangle'] {
        fill: #89ad4e !important;
    }

    margin-top: var(--spectrum-global-dimension-size-65) !important;
    min-width: var(--spectrum-global-dimension-size-4600) !important;
}

.dialogWrapper {
    display: flex;
    height: auto;
    border-radius: var(--spectrum-alias-border-radius-small) !important;
    align-items: center;

    .close {
        color: var(--spectrum-toast-neutral-text-color) !important;

        &:hover,
        &:focus,
        &[class*='is-active'] {
            background-color: var(--brand-opacity-white-12) !important;
            border-color: var(--spectrum-toast-neutral-text-color) !important;
        }
    }

    .fuxDivider {
        background-color: var(--brand-opacity-white-12);
        margin: 0 var(--spectrum-global-dimension-size-150);
    }
}

.fuxHeader {
    margin-block-end: var(--spectrum-global-dimension-size-100);
    width: 100%;
    justify-content: space-between;
    align-items: start;

    .header {
        font-size: var(--spectrum-global-dimension-font-size-400);
        font-weight: 500;
        width: 85%;
    }

    .steps {
        font-size: var(--spectrum-global-dimension-font-size-50);
    }
}

.dialogButtonGroup {
    margin-top: var(--spectrum-global-dimension-size-200) !important;
    margin-bottom: var(--spectrum-global-dimension-size-0) !important;
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
        border: var(--spectrum-alias-border-size-thin) solid !important;
        margin-inline-start: 0 !important;
    }

    .moreMenu {
        color: var(--spectrum-toast-neutral-text-color) !important;
        border: none !important;

        &:hover,
        &:focus,
        &[class*='is-active'] {
            background-color: var(--brand-opacity-white-12) !important;
        }
    }

    .backButton {
        border: none !important;
        min-inline-size: 32px !important;
        padding-left: var(--spectrum-global-dimension-size-50) !important;
        padding-right: var(--spectrum-global-dimension-size-50) !important;
    }
}

.dialogDescription {
    white-space: pre-line;
}
