.secondaryToolbar {
    background-color: var(--spectrum-global-color-gray-75);
    padding: var(--spectrum-global-dimension-size-100);
    box-sizing: border-box;
}

.inferenceContainer {
    background-color: var(--spectrum-global-color-gray-75);
    padding: var(--spectrum-global-dimension-size-200);
    box-sizing: border-box;
    height: 100%;
    min-height: 0;
}

.inferenceMediaDrop {
    background-color: var(--spectrum-global-color-gray-75) !important;
}
