.editUserTitle {
    font-size: var(--spectrum-global-dimension-font-size-200);
    font-weight: var(--spectrum-global-font-weight-regular);
}

.dialog > button {
    right: var(--spectrum-global-dimension-size-250);
    top: var(--spectrum-global-dimension-size-250);
}
